uk_geo_utils/fixtures/addressbase_standard/addressbase_cleaned.csv
uk_geo_utils/fixtures/addressbase_plus/addressbase_cleaned.csv

# python cache files
__pycache__/
*.pyc

# build artifacts
build/
dist/
uk_geo_utils.egg-info/
README.rst
.tox/

# pipenv lockfile
Pipfile
Pipfile.lock

# test coverage
.coverage

# compiled docs
site/

# pycharm
.idea
